Repository Ogeon/palette: changes, and which Codecov flags are due for each by the changed paths.
All: palette, palette_derive, palette_math

Exclude HSLuv tests for Miri
  palette/src/hsluv.rs
Due: palette

Deploying to gh-pages from @ Ogeon/palette@ed1827f691bac0d87acd2007196a53e99ad6d388 🚀
  palette/angle/index.html
  palette/angle/trait.AngleEq.html
  palette/angle/trait.FromAngle.html
  palette/angle/trait.FullRotation.html
  palette/angle/trait.HalfRotation.html
  palette/angle/trait.RealAngle.html
  palette/angle/trait.SignedAngle.html
  palette/angle/trait.UnsignedAngle.html
  palette/hsluv/index.html
  src/palette/angle.rs.html
  src/palette/angle/wide.rs.html
  src/palette/hsluv.rs.html
Due: palette

Prepare release 0.7.7
  CHANGELOG.md
  README.md
  palette/Cargo.toml
  palette/README.md
  palette/src/lib.rs
  palette_derive/Cargo.toml
  palette_math/Cargo.toml
  palette_math/README.md
  palette_math/src/lib.rs
Due: palette, palette_derive, palette_math

Fix conversion from HSLuv when L is near or below 0, or near or above 100
  palette/src/lchuv.rs
Due: palette

Add Oklrab and Oklrch color types
  palette/src/lib.rs
  palette/src/oklab.rs
  palette/src/oklrab.rs
  palette/src/oklrab/alpha.rs
  palette/src/oklrab/properties.rs
  palette/src/oklrab/random.rs
  palette/src/oklrab/visual_eq.rs
  palette/src/oklrch.rs
  palette/src/oklrch/alpha.rs
  palette/src/oklrch/properties.rs
  palette/src/oklrch/random.rs
  palette_derive/src/color_types.rs
Due: palette, palette_derive

Update find-crate to 0.7
  palette_derive/Cargo.toml
Due: palette_derive

Drop deprecated RelativeContrast impls and add Oklrab/Oklrch examples
  palette/src/oklrab.rs
  palette/src/oklrab/properties.rs
  palette/src/oklrch.rs
  palette/src/oklrch/properties.rs
Due: palette

Check for zero divisors when calculating saturation in RGB to HSL conversion
  palette/src/hsl.rs
Due: palette

Upgrade `syn` to 3.0.5
  palette_derive/Cargo.toml
Due: palette_derive

Deploying to gh-pages from @ Ogeon/palette@71011dee471c8fd3ffdb5169de1fc88c882dc0ed 🚀
  palette/alpha/struct.Alpha.html
  palette/bool_mask/trait.HasBoolMask.html
  palette/convert/trait.FromColorUnclamped.html
  palette/hsl/index.html
  palette/hsl/struct.Hsl.html
  palette/hsl/struct.Iter.html
  palette/hsl/struct.UniformHsl.html
  palette/hsv/struct.Hsv.html
  palette/num/trait.SaturatingAdd.html
  palette/num/trait.SaturatingSub.html
  palette/rgb/struct.Rgb.html
  palette/struct.Alpha.html
  palette/struct.Hsl.html
  palette/struct.Hsv.html
  palette/trait.Clamp.html
  palette/trait.ClampAssign.html
  palette/trait.GetHue.html
  palette/trait.IsWithinBounds.html
  palette/trait.Lighten.html
  palette/trait.LightenAssign.html
  palette/trait.Mix.html
  palette/trait.MixAssign.html
  palette/trait.RelativeContrast.html
  palette/trait.Saturate.html
  palette/trait.SaturateAssign.html
  palette/trait.SetHue.html
  palette/trait.ShiftHue.html
  palette/trait.ShiftHueAssign.html
  palette/trait.WithHue.html
  src/palette/hsl.rs.html
  type.impl/palette/struct.Alpha.js
  type.impl/std/primitive.array.js
Due: palette

Add derive UI tests for ArrayCast
  .github/workflows/coverage.yml
  Cargo.toml
  derive_ui_tests/Cargo.toml
  derive_ui_tests/LICENSE-APACHE
  derive_ui_tests/LICENSE-MIT
  derive_ui_tests/tests/ui.rs
  derive_ui_tests/tests/ui/fail/array_cast_enum.rs
  derive_ui_tests/tests/ui/fail/array_cast_enum.stderr
  derive_ui_tests/tests/ui/fail/array_cast_mixed.rs
  derive_ui_tests/tests/ui/fail/array_cast_mixed.stderr
  derive_ui_tests/tests/ui/fail/array_cast_no_repr.rs
  derive_ui_tests/tests/ui/fail/array_cast_no_repr.stderr
  derive_ui_tests/tests/ui/fail/array_cast_union.rs
  derive_ui_tests/tests/ui/fail/array_cast_union.stderr
  derive_ui_tests/tests/ui/fail/array_cast_unit.rs
  derive_ui_tests/tests/ui/fail/array_cast_unit.stderr
  derive_ui_tests/tests/ui/pass/array_cast_multi.expanded.rs
  derive_ui_tests/tests/ui/pass/array_cast_multi.rs
  derive_ui_tests/tests/ui/pass/array_cast_single.expanded.rs
  derive_ui_tests/tests/ui/pass/array_cast_single.rs
  derive_ui_tests/tests/ui/pass/array_cast_zero_size_field.expanded.rs
  derive_ui_tests/tests/ui/pass/array_cast_zero_size_field.rs
  palette_derive/Cargo.toml
  palette_derive/src/cast/array_cast.rs
Due: palette_derive

Add license files
  palette_codegen/LICENSE-APACHE
  palette_codegen/LICENSE-MIT
Due: none

Include all crates in code coverage
  .github/workflows/coverage.yml
Due: none

Replace the `find-crate` feature with an attribute
  .github/workflows/ci.yml
  derive_ui_tests/Cargo.toml
  derive_ui_tests/tests/ui.rs
  derive_ui_tests/tests/ui/pass/array_cast_crate_name.expanded.rs
  derive_ui_tests/tests/ui/pass/array_cast_crate_name.rs
  palette/Cargo.toml
  palette/README.md
  palette/src/alpha.rs
  palette/src/cast/array.rs
  palette/src/convert.rs
  palette/src/lib.rs
  palette_codegen/Cargo.toml
  palette_codegen/src/util.rs
  palette_derive/Cargo.toml
  palette_derive/src/alpha/with_alpha.rs
  palette_derive/src/cast/array_cast.rs
  palette_derive/src/convert/from_color_unclamped.rs
  palette_derive/src/lib.rs
  palette_derive/src/meta/type_item_attributes.rs
  palette_derive/src/util.rs
Due: palette, palette_derive

Upgrade `syn` in `palette_codegen` to 3.0.5
  palette_codegen/Cargo.toml
Due: none

Path conditions:
  palette: any of: palette/**
  palette_derive: any of: palette_derive/**
  palette_math: any of: palette_math/**
