Repository Ogeon/palette: changes, and which Codecov flags are due for each by the changed paths.
All: palette, palette_derive

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: palette
      paths:
        - palette/**
    - component_id: palette_derive
      paths:
        - palette_derive/**

Deploying to gh-pages from @ Ogeon/palette@68410a6a7f7a1d091368a10048f22d0efac256d4 🚀
  palette/color_theory/trait.Analogous.html
  search-index.js
  src/palette/color_theory.rs.html
Due: palette

Update the dependencies of custom actions
  .github/actions/generate_release_notes/dist/index.js
  .github/actions/generate_release_notes/local/index.js
  .github/actions/generate_release_notes/package-lock.json
  .github/actions/increment_version_number/dist/index.js
  .github/actions/increment_version_number/local/index.js
  .github/actions/increment_version_number/package-lock.json
Due: none

Prepare release 0.7.6
  CHANGELOG.md
  README.md
  palette/Cargo.toml
  palette/README.md
  palette/src/lib.rs
  palette_derive/Cargo.toml
Due: palette, palette_derive

chore(bench): make benchmarks work again
  .github/workflows/benchmark.yml
  benchmarks/benches/cie.rs
  benchmarks/benches/rgb.rs
  integration_tests/tests/convert/data_color_mine.rs
Due: none

Implement LMS
  palette/src/chromatic_adaptation.rs
  palette/src/lib.rs
  palette/src/lms.rs
  palette/src/lms/lms.rs
  palette/src/lms/meta.rs
  palette/src/matrix.rs
  palette/src/rgb/rgb.rs
  palette/src/white_point.rs
  palette/src/xyz.rs
  palette/src/xyz/meta.rs
  palette_derive/src/color_types.rs
Due: palette, palette_derive

Fix `clippy::doc_lazy_continuation` lints
  palette/src/convert.rs
  palette/src/lib.rs
  palette/src/okhsl.rs
  palette/src/okhsv.rs
Due: palette

ci: Update `actions/checkout` to v4
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish_docs.yml
Due: none

Increment MSRV to 1.61.0, following `syn`
  .github/workflows/ci.yml
  README.md
  palette/Cargo.toml
  palette/README.md
  palette_derive/Cargo.toml
  palette_derive/README.md
Due: palette, palette_derive

Fix use of legacy numeric constants in tests
  palette/src/stimulus.rs
Due: palette

Removed ignored `?Sized` bounds
  palette/src/convert/from_into_color_mut.rs
  palette/src/convert/from_into_color_unclamped_mut.rs
Due: palette

Make `from_degrees` for hues a `const fn`
  palette/src/hues.rs
Due: palette

Make a few `palette::cast::*` functions `const fn`
  palette/src/cast/array.rs
  palette/src/cast/uint.rs
Due: palette

Add conversion matrix and `Convert{Once}` traits
  benchmarks/benches/cie.rs
  benchmarks/benches/matrix.rs
  benchmarks/benches/rgb.rs
  palette/src/cam16/full.rs
  palette/src/cam16/parameters.rs
  palette/src/chromatic_adaptation.rs
  palette/src/convert.rs
  palette/src/convert/matrix3.rs
  palette/src/lms/lms.rs
  palette/src/matrix.rs
  palette/src/oklab.rs
  palette/src/rgb/rgb.rs
  palette/src/xyz.rs
Due: palette

Rework chromatic adaptation
  .vscode/settings.json
  palette/README.md
  palette/src/chromatic_adaptation.rs
  palette/src/lms.rs
  palette/src/lms/lms.rs
  palette/src/lms/matrix.rs
  palette/src/xyz.rs
Due: palette

Added the basics for Rec. 709 and Rec. 2020
  palette/src/encoding.rs
  palette/src/encoding/rec_standards.rs
  palette/src/rgb.rs
Due: palette

Add documentation for primaries and matrices
  palette/src/encoding/rec_standards.rs
Due: palette

Add float <-> u8 conversion w/ lookup table (and small bug fix)
  palette/src/encoding/rec_standards.rs
  palette/src/encoding/rec_standards/lookup_tables.rs
Due: palette

Add unit tests
  palette/src/encoding/rec_standards.rs
Due: palette

Add fast RecOetf approximation and removed unit tests due to approximation error
  palette/src/encoding/rec_standards.rs
  palette/src/encoding/rec_standards/lookup_tables.rs
Due: palette

Fix doc comment and include type aliases in lib.rs
  palette/src/encoding/rec_standards.rs
  palette/src/lib.rs
Due: palette

Remove `bench` and add float repr comments
  palette/src/encoding/rec_standards.rs
Due: palette

Remove `bench`
  palette/src/encoding/rec_standards.rs
Due: palette

Derive traits for `Rec709` and `RecOetf`
  palette/src/encoding/rec_standards.rs
Due: palette

Add Adobe RGB (1998)
  palette/src/encoding.rs
  palette/src/encoding/adobe.rs
  palette/src/lib.rs
  palette/src/rgb.rs
Due: palette

Custom implementation to avoid GammaFn bug
  palette/src/encoding/adobe.rs
Due: palette

Add DCI-P3, DCI-P3+, and Display P3
  palette/src/encoding.rs
  palette/src/encoding/p3.rs
  palette/src/lib.rs
  palette/src/rgb.rs
Due: palette

Add ProPhoto RGB standard
  palette/src/encoding.rs
  palette/src/encoding/prophoto.rs
  palette/src/encoding/prophoto/lookup_tables.rs
  palette/src/lib.rs
  palette/src/rgb.rs
Due: palette

Revert "Add DCI-P3, DCI-P3+, and Display P3"
  palette/src/encoding.rs
  palette/src/encoding/p3.rs
  palette/src/lib.rs
  palette/src/rgb.rs
Due: palette

Revert "Add ProPhoto RGB standard"
  palette/src/encoding/prophoto.rs
  palette/src/encoding/prophoto/lookup_tables.rs
  palette/src/rgb.rs
Due: palette
