Repository Ogeon/palette: changes, and which Codecov flags are due for each by the changed paths.
All: palette, palette_derive

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: palette
      paths:
        - palette/**
    - component_id: palette_derive
      paths:
        - palette_derive/**

Fix upcoming warnings
  palette/src/convert/from_into_color_mut.rs
  palette/src/convert/from_into_color_unclamped_mut.rs
  palette/src/hues.rs
  palette/src/macros/struct_of_arrays.rs
  palette_derive/src/meta/mod.rs
Due: palette, palette_derive

Fix upcoming clippy warnings
  palette_derive/src/cast/array_cast.rs
  palette_derive/src/meta/type_item_attributes.rs
  palette_derive/src/util.rs
Due: palette_derive

Adjust tests for non-deterministic floats in miri
  palette/src/cam16/full.rs
  palette/src/cam16/partial.rs
  palette/src/cam16/ucs_jab.rs
  palette/src/cam16/ucs_jmh.rs
  palette/src/cast/array.rs
  palette/src/convert.rs
  palette/src/encoding/prophoto.rs
  palette/src/hsl.rs
  palette/src/hues.rs
  palette/src/lch.rs
  palette/src/luv_bounds.rs
  palette/src/macros/random.rs
  palette/src/ok_utils.rs
  palette/src/okhsl.rs
  palette/src/random_sampling/cone.rs
Due: palette

miri fix
  palette/src/cam16/partial.rs
  palette/src/cam16/ucs_jmh.rs
  palette/src/cast/array.rs
  palette/src/okhsl.rs
Due: palette

Limit crc32fast to 1.4.X
  palette/Cargo.toml
Due: palette

Increment MSRV to 1.88.0
  .github/workflows/ci.yml
  README.md
  palette/Cargo.toml
  palette/README.md
  palette_derive/Cargo.toml
  palette_derive/README.md
Due: palette, palette_derive

Fix clippy lints
  palette/src/cast/array.rs
  palette_derive/src/cast/array_cast.rs
  palette_derive/src/meta/type_item_attributes.rs
Due: palette, palette_derive

Adjust tests for non-deterministic floats in miri
  palette/src/luv_bounds.rs
Due: palette

Update `rand` to 0.9
  palette/Cargo.toml
  palette/examples/random.rs
  palette/src/alpha/alpha.rs
  palette/src/hsl.rs
  palette/src/hues.rs
  palette/src/macros/random.rs
Due: palette

Make `u16` gamma LUTs runtime only and introduce `palette_math`
  .github/workflows/ci.yml
  .vscode/settings.json
  Cargo.toml
  codecov.yml
  codegen/Cargo.toml
  codegen/src/lut.rs
  palette/Cargo.toml
  palette/src/chromatic_adaptation.rs
  palette/src/encoding.rs
  palette/src/encoding/adobe.rs
  palette/src/encoding/lut.rs
  palette/src/encoding/lut/codegen.rs
  palette/src/encoding/p3.rs
  palette/src/encoding/prophoto.rs
  palette/src/encoding/rec_standards.rs
  palette/src/encoding/srgb.rs
  palette/src/lib.rs
  palette/src/num.rs
  palette/src/num/libm.rs
  palette/src/num/wide.rs
  palette/src/rgb.rs
  palette_derive/Cargo.toml
  palette_math/Cargo.toml
  palette_math/LICENSE-APACHE
  palette_math/LICENSE_MIT
  palette_math/README.md
  palette_math/src/gamma.rs
  palette_math/src/gamma/lut.rs
  palette_math/src/gamma/model.rs
  palette_math/src/lib.rs
  palette_math/src/lut.rs
  palette_math/src/num.rs
  palette_math/src/num/libm.rs
  palette_math/src/num/wide.rs
Due: palette, palette_derive

Upgrade `phf` to 0.12.1
  codegen/Cargo.toml
  codegen/src/named.rs
  palette/Cargo.toml
  palette/src/named/codegen.rs
Due: palette

Deploying to gh-pages from @ Ogeon/palette@1cce1f1c91819c2a901c912d6e50036b7c5a8661 🚀
  src/palette/named/codegen.rs.html
Due: none

Update release actions, add palette_math, ignore comments
  .github/actions/generate_release_notes/dist/index.js
  .github/actions/generate_release_notes/local/index.js
  .github/actions/generate_release_notes/package-lock.json
  .github/actions/generate_release_notes/src/generate.ts
  .github/actions/increment_version_number/README.md
  .github/actions/increment_version_number/dist/index.js
  .github/actions/increment_version_number/local/index.js
  .github/actions/increment_version_number/package-lock.json
  .github/workflows/prepare_release.yml
Due: none

Make lookup tables `static` instead of `const`
  codegen/src/lut.rs
  palette/src/encoding/lut/codegen.rs
Due: palette

no breaking relax of Scalar in Premultiply trait
  palette/src/blend.rs
Due: palette

updates documentation of palette::alpha module such that there is coherence in the semantics of to/from rather than to/form
  palette/src/alpha/alpha.rs
Due: palette

Increase MSRV to 1.68.0
  .github/workflows/ci.yml
  README.md
  palette/Cargo.toml
  palette/README.md
  palette/src/lib.rs
  palette_derive/Cargo.toml
  palette_derive/README.md
  palette_math/Cargo.toml
  palette_math/README.md
Due: palette, palette_derive

Deploying to gh-pages from @ Ogeon/palette@e58b4df9e7983681f237c7564072633b99bb8e12 🚀
  palette/trait.GetHue.html
  src/palette/lib.rs.html
Due: palette

Increase MSRV to 1.71.0
  .github/workflows/ci.yml
  README.md
  palette/Cargo.toml
  palette/README.md
  palette/src/cam16/ucs_jmh.rs
  palette_derive/Cargo.toml
  palette_derive/README.md
  palette_derive/src/cast/array_cast.rs
  palette_math/Cargo.toml
  palette_math/README.md
Due: palette, palette_derive

Deploying to gh-pages from @ Ogeon/palette@b9474d8845807e78db8a6894933b651ee9abf0ac 🚀
  src/palette/cam16/ucs_jmh.rs.html
Due: none

Use `libm` in `codegen` for more consistent output
  codegen/Cargo.toml
  palette/src/encoding/lut/codegen.rs
Due: palette

Deploying to gh-pages from @ Ogeon/palette@e1d6dfc911cea0c9a20fa2426d72be15ad2f4347 🚀
  src/palette/encoding/lut/codegen.rs.html
Due: none

Add support for `wide` 1.X
  benchmarks/Cargo.toml
  integration_tests/Cargo.toml
  palette/Cargo.toml
  palette/README.md
  palette/src/angle.rs
  palette/src/angle/wide_1.rs
  palette/src/bool_mask.rs
  palette/src/bool_mask/wide_1.rs
  palette/src/cam16/full.rs
  palette/src/num.rs
  palette/src/num/wide_1.rs
  palette_math/Cargo.toml
  palette_math/README.md
  palette_math/src/lib.rs
  palette_math/src/num.rs
  palette_math/src/num/wide_1.rs
Due: palette

Fix miri float precision test
  palette/src/luv_bounds.rs
Due: palette

Update dependencies in release actions
  .github/actions/generate_release_notes/dist/index.js
  .github/actions/generate_release_notes/local/index.js
  .github/actions/generate_release_notes/package-lock.json
  .github/actions/generate_release_notes/package.json
  .github/actions/generate_release_notes/tsconfig.json
  .github/actions/increment_version_number/dist/index.js
  .github/actions/increment_version_number/local/index.js
  .github/actions/increment_version_number/package-lock.json
  .github/actions/increment_version_number/package.json
  .github/actions/increment_version_number/tsconfig.json
Due: none

Document feature flags
  palette/README.md
  palette/src/lib.rs
Due: palette

Deploying to gh-pages from @ Ogeon/palette@6c1a85b7999d01b04df6c6bfa3235917e8032cc6 🚀
  palette/index.html
  palette/trait.ArrayExt.html
  palette/trait.Clamp.html
  palette/trait.ClampAssign.html
  palette/trait.Darken.html
  palette/trait.DarkenAssign.html
  palette/trait.Desaturate.html
  palette/trait.DesaturateAssign.html
  palette/trait.GetHue.html
  palette/trait.IsWithinBounds.html
  palette/trait.Lighten.html
  palette/trait.LightenAssign.html
  palette/trait.Mix.html
  palette/trait.MixAssign.html
  palette/trait.NextArray.html
  palette/trait.Saturate.html
  palette/trait.SaturateAssign.html
  palette/trait.SetHue.html
  palette/trait.ShiftHue.html
  palette/trait.ShiftHueAssign.html
  palette/trait.WithHue.html
  src/palette/lib.rs.html
  type.impl/std/primitive.array.js
Due: palette

Upgrade `phf` dependencies to 0.13.1
  codegen/Cargo.toml
  palette/Cargo.toml
Due: palette

Reduce required precision for `hues::test::math::oklabhue_ab_roundtrip`
  palette/src/hues.rs
Due: palette

Deploying to gh-pages from @ Ogeon/palette@9aa1ac21a7da60db398e8c044a43dbf3fdaf4855 🚀
  src/palette/hues.rs.html
Due: none

Fix conversion into HSLuv when L is near or below 0, or near or above 100
  palette/src/hsluv.rs
Due: palette

Fix `normalize_unsigned_angle` output for very small numbers
  palette/src/angle.rs
  palette/src/angle/wide.rs
Due: palette
