Repository Ogeon/palette: changes, and which Codecov flags are due for each by the changed paths.
All: palette, palette_derive

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: palette
      paths:
        - palette/**
    - component_id: palette_derive
      paths:
        - palette_derive/**

Add simulators for dichromacy and anomalous trichromacy
  palette/src/cvd.rs
  palette/src/cvd/cone_response.rs
  palette/src/cvd/simulation.rs
  palette/src/lib.rs
  palette/src/lms/matrix.rs
Due: palette

Fix typos
  palette/src/cvd.rs
Due: palette

Remove unnecessary call to clone
  palette/src/cvd/simulation.rs
Due: palette

Remove second redundant clone
  palette/src/cvd/simulation.rs
Due: palette

Consolidate `XenonBulb` white point into `DciP3`
  palette/src/encoding/p3.rs
Due: palette

Add tests for primary values (and adjust accordingly)
  palette/src/encoding/p3.rs
Due: palette

Revert inclusion of P3 types in lib.rs
  palette/src/lib.rs
Due: palette

Add ProPhoto RGB standard
  palette/src/encoding.rs
  palette/src/encoding/prophoto.rs
  palette/src/rgb.rs
Due: palette

Replace the build script with a codegent crate
  Cargo.toml
  codegen/Cargo.toml
  codegen/res/svg_colors.txt
  codegen/src/codegen_file.rs
  codegen/src/main.rs
  codegen/src/named.rs
  palette/Cargo.toml
  palette/build/main.rs
  palette/build/named.rs
  palette/src/named.rs
  palette/src/named/codegen.rs
Due: palette

Update `image` dev-dependency
  palette/Cargo.toml
Due: palette

Fix upcoming Clippy lifetime warnings
  palette/src/convert/from_into_color_mut.rs
  palette/src/convert/from_into_color_unclamped_mut.rs
  palette/src/hues.rs
  palette/src/macros/struct_of_arrays.rs
  palette/src/serde/alpha_deserializer.rs
  palette/src/serde/alpha_serializer.rs
Due: palette

Have a min and max MSRV
  .github/workflows/ci.yml
  README.md
  palette/README.md
  palette/src/cast/as_arrays_traits.rs
  palette/src/cast/as_components_traits.rs
  palette/src/cast/as_uints_traits.rs
  palette/src/macros/struct_of_arrays.rs
  palette_derive/README.md
  palette_derive/src/meta/mod.rs
Due: palette, palette_derive

Add named color iterators and remove phf macro dependency
  codegen/Cargo.toml
  codegen/src/named.rs
  no_std_test/Cargo.toml
  palette/Cargo.toml
  palette/README.md
  palette/src/named.rs
  palette/src/named/codegen.rs
Due: palette

Deploying to gh-pages from @ Ogeon/palette@8e22189f3cedac01f9f93b0d5f20ab2233d189ea 🚀
  palette/all.html
  palette/index.html
  palette/named/fn.colors.html
  palette/named/fn.entries.html
  palette/named/fn.from_str.html
  palette/named/fn.names.html
  palette/named/index.html
  palette/named/sidebar-items.js
  palette/named/struct.Colors.html
  palette/named/struct.Entries.html
  palette/named/struct.Names.html
  search-index.js
  search.desc/palette/palette-desc-0-.js
  search.desc/palette/palette-desc-1-.js
  src/palette/named.rs.html
  src/palette/named/codegen.rs.html
  trait.impl/core/clone/trait.Clone.js
  trait.impl/core/fmt/trait.Debug.js
  trait.impl/core/iter/traits/double_ended/trait.DoubleEndedIterator.js
  trait.impl/core/iter/traits/exact_size/trait.ExactSizeIterator.js
  trait.impl/core/iter/traits/iterator/trait.Iterator.js
  trait.impl/core/iter/traits/marker/trait.FusedIterator.js
  trait.impl/core/marker/trait.Freeze.js
  trait.impl/core/marker/trait.Send.js
  trait.impl/core/marker/trait.Sync.js
  trait.impl/core/marker/trait.Unpin.js
  trait.impl/core/panic/unwind_safe/trait.RefUnwindSafe.js
  trait.impl/core/panic/unwind_safe/trait.UnwindSafe.js
Due: palette

Add `Rgb::from_hex` and implement parsing for `u16`, `u32`, `f32`, `f64`
  palette/src/color_difference.rs
  palette/src/okhsl.rs
  palette/src/okhsv.rs
  palette/src/oklab.rs
  palette/src/relative_contrast.rs
  palette/src/rgb.rs
  palette/src/rgb/hex.rs
  palette/src/rgb/rgb.rs
  palette/src/stimulus.rs
Due: palette

Upgrade CodSpeeedHQ action to v3
  .github/workflows/benchmark.yml
Due: none

Add `FromLinear` and `IntoLinear` lookup table creation to build script
  codegen/src/lut.rs
  codegen/src/lut/model.rs
  codegen/src/main.rs
  palette/Cargo.toml
  palette/src/encoding.rs
  palette/src/encoding/adobe.rs
  palette/src/encoding/lut.rs
  palette/src/encoding/lut/codegen.rs
  palette/src/encoding/p3.rs
  palette/src/encoding/prophoto.rs
  palette/src/encoding/rec_standards.rs
  palette/src/encoding/rec_standards/lookup_tables.rs
  palette/src/encoding/srgb.rs
  palette/src/encoding/srgb/lookup_tables.rs
Due: palette

Deprecate `encoding::gamma` and its content
  palette/src/encoding.rs
  palette/src/lib.rs
  palette/src/luma.rs
  palette/src/rgb.rs
Due: palette

Update no_std_test to work with latest nightly
  .github/workflows/ci.yml
  no_std_test/src/main.rs
Due: none

Migrate all crates to edition 2021
  .github/workflows/benchmark.yml
  benchmarks/Cargo.toml
  codegen/Cargo.toml
  integration_tests/Cargo.toml
  no_std_test/Cargo.toml
  palette/Cargo.toml
  palette_derive/Cargo.toml
Due: palette, palette_derive

Specify full dependency versions and check compatibility in CI
  .github/workflows/ci.yml
  palette/Cargo.toml
  palette_derive/Cargo.toml
Due: palette, palette_derive

feat: implemented palette angle/boolmask/num traits for simba's Wide* wrapper types
  palette/Cargo.toml
  palette/src/angle.rs
  palette/src/angle/simba_wide.rs
  palette/src/bool_mask.rs
  palette/src/bool_mask/simba_wide.rs
  palette/src/num.rs
  palette/src/num/simba_wide.rs
Due: palette

fix: added minor version for simba dependency
  palette/Cargo.toml
Due: palette

refactor: remove overly-precise constant
  palette/src/angle/simba_wide.rs
Due: palette

chore: added some tests to the angle implementation for the simba Wide types
  palette/src/angle/simba_wide.rs
Due: palette

disabled default features of the optional simba crate and ensured no_std compatibility
  no_std_test/Cargo.toml
  palette/Cargo.toml
Due: palette

Make `u16` gamma LUTs runtime only and introduce `palette_math`
  .github/workflows/ci.yml
  .vscode/settings.json
  Cargo.toml
  codecov.yml
  codegen/Cargo.toml
  codegen/src/lut.rs
  palette/Cargo.toml
  palette/src/cam16/ucs_jmh.rs
  palette/src/encoding.rs
  palette/src/encoding/adobe.rs
  palette/src/encoding/lut.rs
  palette/src/encoding/lut/codegen.rs
  palette/src/encoding/p3.rs
  palette/src/encoding/prophoto.rs
  palette/src/encoding/rec_standards.rs
  palette/src/encoding/srgb.rs
  palette/src/lch.rs
  palette/src/lib.rs
  palette/src/num.rs
  palette/src/num/libm.rs
  palette/src/num/wide.rs
  palette_derive/Cargo.toml
  palette_math/Cargo.toml
  palette_math/LICENSE-APACHE
  palette_math/LICENSE_MIT
  palette_math/README.md
  palette_math/src/gamma.rs
  palette_math/src/gamma/lut.rs
  palette_math/src/gamma/model.rs
  palette_math/src/lib.rs
  palette_math/src/lut.rs
  palette_math/src/num.rs
  palette_math/src/num/libm.rs
  palette_math/src/num/wide.rs
Due: palette, palette_derive

updated readme
  palette/README.md
Due: palette

removed simba from no_std_test
  no_std_test/Cargo.toml
Due: none

Fix clippy warnings
  palette/examples/blend.rs
  palette/examples/compose.rs
  palette/examples/gradient.rs
  palette/examples/hue.rs
  palette/examples/random.rs
  palette/examples/readme_examples.rs
  palette/examples/saturate.rs
  palette/examples/shade.rs
  palette/src/ok_utils.rs
  palette/src/okhsl.rs
  palette/src/okhsv.rs
  palette/src/okhwb.rs
  palette/src/oklab.rs
  palette/src/oklch.rs
  palette/src/rgb/rgb.rs
Due: palette
